<nav class="navbar navbar-expand-lg navbar-dark backgroud-nav">
    <a class="navbar-brand logo" routerLink="" ><img src="assets/img/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us" routerLinkActive="active">About Us <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/events" routerLinkActive="active">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/workshops" routerLinkActive="active">Workshops</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/speakers" routerLinkActive="active">Speakers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/highlights" routerLinkActive="active">Highlights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/connexions" routerLinkActive="active">Connexions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/sponsers" routerLinkActive="active">Sponsers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
        </li>
      </ul>
      <ul class="navbar-nav ">
        <!-- <li class="nav-item">
          <a class="nav-link" href="#"><fa-icon [icon]=''></fa-icon></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><fa-icon [icon]='faBell'></fa-icon></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#"><fa-icon [icon]='faUser'></fa-icon> Login</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">User1</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">User2</a>
            <a class="dropdown-item" href="#">User3</a>
            <a class="dropdown-item" href="#">Kids</a>
          </div>
        </li> -->
      </ul>
    </div>
</nav>
  
<router-outlet></router-outlet>
<!-- Footer -->
<hr>
<footer class="page-footer font-small mdb-color pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Heighlights</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>
      </div>

      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">
        <p>
          <img src="/assets/img/icons/iima.png" alt="" height="210" width="250">
        </p>
        </h6>
      </div>

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p><img src="assets/img/icons/home.png" alt="" height="25" width="25"> Ahmedabad, Gujarat</p>
        <p><img src="assets/img/icons/mail.png" alt="" height="25" width="25"> contact@iima.in </p>
        <p><img src="assets/img/icons/call.png" alt="" height="25" width="25"> 1234567890 </p>
        <p><img src="assets/img/icons/fax.png" alt="" height="25" width="25"> 0139478 </p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2020 Copyright:
          <a href="">
            <strong> IIMA.in</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

      </div>
      <!--c Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer --> 