<div class="">
                
    <div id="page-banner-area" class="page-banner-area">
        <div class="page-banner-title">
            <div class="text-center">
                <h2></h2>
            </div>
        </div>
    </div>
    <section id="main-container" class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="title-classic left">About The Red Brick Summit</h3>
                    <p class="intro-desc text-justify">
                        IIM Ahmedabad is internationally recognized as a premier B-School that has been
                        the alma mater of many industry stalwarts. Over the last 58 years, the institute has
                        conceptualized and executed events that can harness innovation and insights to
                        redefine management in our country.
                        <br>
                        <br>
                        The Indian Institute of Management, Ahmedabad is all set to host its biggest
                        management symposium this year in a virtual format, on October 24th and October
                        25th. Appropriately named the Red Brick Summit (TRBS), after the famous environs
                        that have come to be associated with over 50 years of academic excellence, the
                        symposium will be a potpourri of the erstwhile Big Four of IIMA – Insight, Confluence,
                        Amaethon and ConneXions – that have been a mainstay of our institute's event
                        calendar all these years. Pioneered in 2017, this is Asia's largest management
                        symposium that attracts over 60,000 participants every year.
                    </p>
                </div>
                <div class="col-md-6" style="padding-top: 35px">
                    <div class="embed-responsive embed-responsive-16by9">
                        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/0DBp_dwDSCk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> --> -->
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0DBp_dwDSCk" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <h2 class="text-center color">Events</h2>
                <p class="col-md-12 intro-desc text-justify">
                    The Red Brick Summit was conceived to challenge today's youth to think beyond their
                    imagination. Through a plethora of competitive events, TRBS provides a platform for innovation
                    and pushes participants to flex their brains. Growing with a strong trajectory, this year, we have
                    19 competitive events, including two international ventures. Witness the amalgamation of the
                    best minds of this country at the epicenter of this brainstorming festival.
                </p>
            </div>
            <div class="row">
                <h2 class="text-center color">Workshops</h2>
                <p class="col-md-12 intro-desc text-justify">
                    Disruption and dynamism are the prime characteristic of every professional field in
                    this century. As aspiring thinkers and future leaders, it is essential for our generation
                    to possess the ability to mould themselves to continuously evolve in this environment.
                    The TRBS team is proud to present the workshop series for 2019 that would be
                    conducted by some of the most renowned names across industries. Each workshop
                    is strategized to ensure maximum interaction between the presenter and participants,
                    encompassing a fascinating breadth of subject matter.
                    <br><br>
                    Last year, the workshops were hosted by senior executives from companies such as
                    Microsoft, Zerodha, Capgemini, Google, TATA Trusts, Nielsen, Reliance, Uber, and
                    Mad Over Marketing. The sessions overarched a broad range of themes including
                    product management, finance, digital innovation, advertising trends etc. Spread over
                    the course of the festival, these workshops elevate the learning experience for all
                    attendees and gives a chance to learn directly from the pundits.
                </p>
            </div>
    
            <div class="row">
                <h2 class="text-center color">Speakers</h2>
                <p class="col-md-12 intro-desc text-justify">
                    Pages of the TRBS diaries are studded with names that have inspired millions of
                    people in our country. We present you with a chance to witness the aura of corporate
                    behemoths, parliamentary dignitaries, renowned journalists, and activists that are
                    shaping our nation. Every year, we invite experts from varying fields to share their
                    stories and enlighten us with their learnings.
                    <br><br>
                    In 2019, the inaugural session was hosted by Mr. Srijan Pal Singh, OSD to Dr. Kalam &amp; founder &amp; CEO of Dr. A.P.J Abdul Kalam Centre. Sachin Bansal, founder &amp; ex-CEO of Flipkart, enthralled a packed auditorium with his speech on his experience about entrepreneurial journey. In the same space, TRBS was graced by the presence of S. Gurumurthy, Other eminent personalities that took the stage include – Justice C. K. Thakker, Gaurav Ajmera, Dr. Hasmukh Adhia, Navin Gurnaney, Adil Zainulbhai, Raamdeo Agrawal, T. S. Bhattacharya, Dr. Hasit Joshipura, Chandra Balani, Shri Gaur Gopal Das.
                    <br><br>
                    Watch out for this space as we reveal the guestlist for the sessions this fall!
                </p>
            </div>
        </div>
    </section>
                </div>
               
                